.u-section-1 .u-sheet-1 {
  min-height: 615px;
}

.u-section-1 .u-layout-wrap-1 {
  margin-top: 30px;
  margin-bottom: 5px;
}

.u-section-1 .u-layout-cell-1 {
  min-height: 580px;
}

.u-section-1 .u-container-layout-1 {
  padding: 0 25px;
}

.u-section-1 .u-custom-html-1 {
  height: auto;
  min-height: 577px;
  width: 1090px;
  margin: 0;
}

@media (max-width: 1199px) {
  .u-section-1 .u-sheet-1 {
    min-height: 612px;
  }

  .u-section-1 .u-layout-cell-1 {
    min-height: 478px;
  }

  .u-section-1 .u-custom-html-1 {
    width: 890px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-sheet-1 {
    min-height: 170px;
  }

  .u-section-1 .u-layout-cell-1 {
    min-height: 366px;
  }

  .u-section-1 .u-custom-html-1 {
    width: 670px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-layout-cell-1 {
    min-height: 275px;
  }

  .u-section-1 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-custom-html-1 {
    width: 520px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-layout-cell-1 {
    min-height: 173px;
  }

  .u-section-1 .u-custom-html-1 {
    width: 320px;
  }
} .u-section-2 {
  background-image: none;
}

.u-section-2 .u-sheet-1 {
  min-height: 630px;
}

.u-section-2 .u-layout-wrap-1 {
  margin-top: 20px;
  margin-bottom: 0;
}

.u-section-2 .u-layout-cell-1 {
  min-height: 608px;
}

.u-section-2 .u-container-layout-1 {
  padding: 4px 40px;
}

.u-section-2 .u-custom-html-1 {
  height: auto;
  min-height: 507px;
  margin: 0 0 0 40px;
}

.u-section-2 .u-btn-1 {
  background-image: none;
  border-style: solid;
  font-size: 1.5rem;
  margin: 0 auto 0 40px;
  padding: 0;
}

.u-section-2 .u-layout-cell-2 {
  min-height: 608px;
}

.u-section-2 .u-container-layout-2 {
  padding: 30px;
}

.u-section-2 .u-image-1 {
  height: 265px;
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-2 .u-text-1 {
  font-size: 1.5rem;
  margin: 20px auto 0;
}

.u-section-2 .u-btn-2 {
  letter-spacing: 1px;
  border-style: none;
  font-weight: 700;
  text-transform: uppercase;
  background-image: none;
  margin: 20px auto 0;
}

.u-section-2 .u-layout-wrap-2 {
  margin-top: 20px;
  margin-bottom: 60px;
  position: relative;
}

.u-section-2 .u-image-2 {
  min-height: 400px;
  background-image: url("images/FB7iRnwWUAgYv_b.jpg");
  background-position: 60.37% 50%;
}

.u-section-2 .u-container-layout-3 {
  padding: 0 22px 0 30px;
}

.u-section-2 .u-layout-cell-4 {
  min-height: 400px;
}

.u-section-2 .u-container-layout-4 {
  padding: 0 52px 30px;
}

.u-section-2 .u-text-2 {
  margin: 44px auto 0 0;
}

.u-section-2 .u-text-3 {
  margin: 16px 17px 0 0;
}

.u-section-2 .u-btn-3 {
  text-transform: uppercase;
  font-size: 0.875rem;
  letter-spacing: 2px;
  background-image: none;
  border-style: solid;
  margin: 20px auto 0 0;
  padding: 0;
}

@media (max-width: 1199px) {
  .u-section-2 .u-sheet-1 {
    min-height: 471px;
  }

  .u-section-2 .u-layout-cell-1 {
    background-position: 50% 50%;
    min-height: 501px;
  }

  .u-section-2 .u-custom-html-1 {
    margin-left: 0;
  }

  .u-section-2 .u-btn-1 {
    margin-left: 0;
  }

  .u-section-2 .u-layout-cell-2 {
    min-height: 501px;
  }

  .u-section-2 .u-image-1 {
    height: 213px;
  }

  .u-section-2 .u-image-2 {
    min-height: 300px;
  }

  .u-section-2 .u-layout-cell-4 {
    min-height: 300px;
  }

  .u-section-2 .u-text-3 {
    margin-right: 0;
  }

  .u-section-2 .u-btn-3 {
    width: 107px;
    height: 24px;
  }
}

@media (max-width: 991px) {
  .u-section-2 .u-sheet-1 {
    min-height: 780px;
  }

  .u-section-2 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-2 .u-container-layout-1 {
    padding-left: 30px;
    padding-right: 30px;
  }

  .u-section-2 .u-layout-cell-2 {
    min-height: 100px;
  }

  .u-section-2 .u-image-1 {
    height: 343px;
  }

  .u-section-2 .u-container-layout-4 {
    padding-left: 30px;
    padding-right: 30px;
  }
}

@media (max-width: 767px) {
  .u-section-2 .u-sheet-1 {
    min-height: 784px;
  }

  .u-section-2 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-image-1 {
    height: 270px;
  }

  .u-section-2 .u-container-layout-3 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-layout-cell-4 {
    min-height: auto;
  }
}

@media (max-width: 575px) {
  .u-section-2 .u-sheet-1 {
    min-height: 463px;
  }

  .u-section-2 .u-image-1 {
    height: 166px;
  }
} .u-section-3 {
  background-image: none;
}

.u-section-3 .u-sheet-1 {
  min-height: 1064px;
}

.u-section-3 .u-layout-wrap-1 {
  margin-top: 40px;
  margin-bottom: 40px;
}

.u-section-3 .u-image-1 {
  background-image: url("images/thatledco.us.png");
  background-position: 50% 50%;
  min-height: 492px;
}

.u-section-3 .u-container-layout-1 {
  padding: 30px 60px;
}

.u-section-3 .u-image-2 {
  background-image: url("images/infinitymice.us.2.png");
  background-position: 50% 50%;
  min-height: 492px;
}

.u-section-3 .u-container-layout-2 {
  padding: 30px 60px;
}

.u-section-3 .u-image-3 {
  min-height: 492px;
  background-image: url("images/turtlebeaches.jpg");
  background-position: 50% 50%;
}

.u-section-3 .u-container-layout-3 {
  padding: 0 60px 30px;
}

.u-section-3 .u-image-4 {
  min-height: 492px;
  background-image: url("images/justasmile.clothing.png");
  background-position: 50% 50%;
}

.u-section-3 .u-container-layout-4 {
  padding: 30px;
}

@media (max-width: 1199px) {
  .u-section-3 .u-sheet-1 {
    min-height: 928px;
  }

  .u-section-3 .u-image-1 {
    min-height: 600px;
  }

  .u-section-3 .u-image-2 {
    min-height: 300px;
  }

  .u-section-3 .u-image-3 {
    min-height: 406px;
  }

  .u-section-3 .u-image-4 {
    min-height: 406px;
  }
}

@media (max-width: 991px) {
  .u-section-3 .u-sheet-1 {
    min-height: 712px;
  }

  .u-section-3 .u-container-layout-1 {
    padding-left: 30px;
    padding-right: 30px;
  }

  .u-section-3 .u-container-layout-2 {
    padding-left: 30px;
    padding-right: 30px;
  }

  .u-section-3 .u-image-3 {
    min-height: 311px;
  }

  .u-section-3 .u-container-layout-3 {
    padding-left: 30px;
    padding-right: 30px;
  }

  .u-section-3 .u-image-4 {
    min-height: 311px;
  }
}

@media (max-width: 767px) {
  .u-section-3 .u-sheet-1 {
    min-height: 1444px;
  }

  .u-section-3 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-3 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-3 .u-image-3 {
    min-height: 467px;
  }

  .u-section-3 .u-image-4 {
    min-height: 467px;
  }

  .u-section-3 .u-container-layout-4 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-3 .u-sheet-1 {
    min-height: 949px;
  }

  .u-section-3 .u-image-3 {
    min-height: 294px;
  }

  .u-section-3 .u-image-4 {
    min-height: 294px;
  }
}.u-section-4 .u-sheet-1 {
  min-height: 1059px;
}

.u-section-4 .u-text-1 {
  font-weight: 700;
  font-size: 3.75rem;
  text-decoration: underline !important;
  width: 741px;
  margin: 11px auto 0;
}

.u-section-4 .u-list-1 {
  margin: 40px 0 60px;
}

.u-section-4 .u-repeater-1 {
  grid-template-columns: repeat(3, calc(33.3333% - 13.3333px));
  min-height: 758px;
  grid-gap: 20px;
}

.u-section-4 .u-list-item-1 {
  background-image: none;
}

.u-section-4 .u-container-layout-1 {
  padding: 30px;
}

.u-section-4 .u-text-2 {
  letter-spacing: 3px;
  font-weight: 500;
  text-transform: uppercase;
  font-size: 1.5rem;
  margin: 0 auto;
}

.u-section-4 .u-icon-1 {
  height: 148px;
  width: 148px;
  margin: 45px auto 0;
}

.u-section-4 .u-list-item-2 {
  background-image: none;
}

.u-section-4 .u-container-layout-2 {
  padding: 30px;
}

.u-section-4 .u-text-3 {
  letter-spacing: 3px;
  font-weight: 500;
  text-transform: uppercase;
  font-size: 1.6875rem;
  margin: 0 auto;
}

.u-section-4 .u-icon-2 {
  height: 148px;
  width: 148px;
  margin: 45px auto 0;
}

.u-section-4 .u-list-item-3 {
  background-image: none;
}

.u-section-4 .u-container-layout-3 {
  padding: 30px;
}

.u-section-4 .u-text-4 {
  letter-spacing: 3px;
  font-weight: 500;
  text-transform: uppercase;
  font-size: 1.5rem;
  margin: 0 auto;
}

.u-section-4 .u-icon-3 {
  height: 169px;
  width: 148px;
  margin: 45px auto 0;
}

.u-section-4 .u-list-item-4 {
  background-image: none;
}

.u-section-4 .u-container-layout-4 {
  padding: 30px;
}

.u-section-4 .u-text-5 {
  letter-spacing: 3px;
  font-weight: 500;
  text-transform: uppercase;
  font-size: 1.5rem;
  margin: 0 auto;
}

.u-section-4 .u-icon-4 {
  height: 148px;
  width: 148px;
  margin: 45px auto 0;
}

.u-section-4 .u-list-item-5 {
  background-image: none;
}

.u-section-4 .u-container-layout-5 {
  padding: 30px;
}

.u-section-4 .u-text-6 {
  letter-spacing: 3px;
  font-weight: 500;
  text-transform: uppercase;
  font-size: 1.5rem;
  margin: 0 auto;
}

.u-section-4 .u-icon-5 {
  height: 148px;
  width: 148px;
  margin: 45px auto 0;
}

.u-section-4 .u-list-item-6 {
  background-image: none;
}

.u-section-4 .u-container-layout-6 {
  padding: 30px;
}

.u-section-4 .u-text-7 {
  letter-spacing: 3px;
  font-weight: 500;
  text-transform: uppercase;
  font-size: 1.5rem;
  margin: 0 auto;
}

.u-section-4 .u-icon-6 {
  height: 143px;
  width: 148px;
  margin: 45px auto 0;
}

@media (max-width: 1199px) {
  .u-section-4 .u-list-1 {
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-4 .u-repeater-1 {
    min-height: 624px;
  }

  .u-section-4 .u-list-item-2 {
    background-position: 50% 50%;
  }

  .u-section-4 .u-list-item-4 {
    background-position: 50% 50%;
  }

  .u-section-4 .u-list-item-6 {
    background-position: 50% 50%;
  }
}

@media (max-width: 991px) {
  .u-section-4 .u-text-1 {
    width: 720px;
  }

  .u-section-4 .u-repeater-1 {
    grid-template-columns: repeat(2, calc(50% - 9.99997px));
    min-height: 1097px;
  }
}

@media (max-width: 767px) {
  .u-section-4 .u-text-1 {
    width: 540px;
  }

  .u-section-4 .u-repeater-1 {
    grid-template-columns: 100%;
  }

  .u-section-4 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-4 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-4 .u-container-layout-3 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-4 .u-container-layout-4 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-4 .u-container-layout-5 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-4 .u-container-layout-6 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-4 .u-text-1 {
    font-size: 1.875rem;
    width: 340px;
  }

  .u-section-4 .u-text-3 {
    font-size: 1.5rem;
  }
}